.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.listContainer{
  display: flex;
  justify-content: space-between;
  width: 200px;
}
.inputField  input[type="text"] {
  padding: 5px;
  border: 1px solid #474444;
  margin: 5px;
  border-radius: 5px;
}
.inputField  button {
  padding: 5px;
  border: 1px solid #474444;
  background-color: #474444;
  color: aliceblue;
  margin: 5px;
  border-radius: 5px;
}